<!-- <p>reset-password works!</p> -->
<div class="auth-container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
      <label for="password">New Password</label>
      <input
        type="password"
        name="password"
        id="password"
        [(ngModel)]="password"
        required
      />
      <button type="submit" [disabled]="!resetForm.valid">Reset Password</button>
      <p *ngIf="message">{{ message }}</p>
      <p *ngIf="error" class="error">{{ error }}</p>
    </form>
  </div>