<!-- <p>forgot-password works!</p> -->
<div class="auth-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        [(ngModel)]="email"
        required
      />
      <button type="submit" [disabled]="!forgotForm.valid">Send Reset Link</button>
      <p *ngIf="message">{{ message }}</p>
      <p *ngIf="error" class="error">{{ error }}</p>
    </form>
  </div>