<p>cart works!</p>
<div class="cart">
    <h2>Your Cart</h2>
  
    <div *ngIf="cartItems.length === 0">Cart is empty</div>
  
    <div *ngFor="let item of cartItems" class="cart-item">
      <h4>{{ item.name }}</h4>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Price per item: {{ item.price }}</p>
      <p>Total: {{ item.price * item.quantity }}</p>
      <button (click)="remove(item.id)">Remove</button>
    </div>
  
    <div *ngIf="cartItems.length > 0">
      <h3>Total Price: {{ getTotal() }} KES</h3>
      <button (click)="checkout()">Checkout</button>
    </div>
  </div>