<p>register works!</p>
<div class="register-container">
    <h2>Register for Shopie</h2>
  
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">
        <label for="name">Full Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          [(ngModel)]="formData.name"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          [(ngModel)]="formData.email"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          [(ngModel)]="formData.password"
          class="form-control"
        />
      </div>
  
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
  
      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
      <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  
      <div class="extra-links">
        Already have an account?
        <a routerLink="/login">Login here</a>
      </div>
    </form>
  </div>